body{
    margin: 0 30px;
    font-family: "Fredoka", sans-serif;
}

/************
INTESTAZIONE
************/

header{
    text-align: center;
    margin: 0 30px;
}

h1{
    color: #BD295D;
}

/***********
CORPO
***********/

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:30px;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    color:#FFFFFF;
    width: calc((100% - 60px) / 3);
    /* width: 200px; */
}

.card .images{
    width: 40%;
}
.card .images img{
    width: 100%;
    height: 100%;
} 

.card .description{
    padding: 10px;
    /* flex-grow:3; */
    display: flex; 
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
}

.card .description .name{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.card .description .role{
    font-size: 12px;
}

.card .description .email{
    color: #6BCBFB;
    font-size: 12px;
    word-wrap:break-word;
}

.card .description .email:hover{
    cursor: pointer;
}

/****************
BONUS
****************/

/* MEDIUM */
@media screen and (max-width: 768px) {
    /***********
    CORPO
    ***********/
    .card{
        width: calc((100% - 30px) / 2);
    }
}


/* SMALL */
@media screen and (max-width: 576px) {
    /***********
    CORPO
    ***********/
    .card{
        width: 100%;
    }
}